/* файл index.html */
:root {
    --brand-color: #2E2F42;
    --main-color-text: #434455;
    --accent-color: #4D5AE5;
    --white-color: #FFFFFF;
    --secondary-background-color: #F4F4FD;
    --secondary-color-text: #E7E9FC;
    --color-hover: #404BBF;
}
body {
    background-color: var(--white-color);
    color:  var(--main-color-text);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;


    /* outline: 1px solid red;   */
}
h1,h2,h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/* logo */
.logo a {
    color: var(--brand-color);
    text-decoration: none;
    line-height: 1.33;
}
.logo a:hover, .logo a:focus {
    color: var(--color-hover);
   }
.main-nav{
    display: flex;
    align-items: center;
}






.logo-link {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
}
span {
    color: var(--accent-color);
}
/* Ефект поточної сторінки */
.site-nav .link.current {
    color: var(--accent-color);
}
/* hero */
.words {
    text-align: center;
    background-color: var(--brand-color);
}
.hero-title {
    margin-bottom: 40px;
    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;
    

   
}
.button {
    
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;

    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    
}
.button:hover, .button:focus {
    background-color: var(--color-hover);
}

/* site-nav */
.list {
    margin: 0;
    padding: 0;
}
.site-nav{
    display: flex;
    margin-left: 76px;
}

    

.site-nav a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
}
.site-nav .item +.item {
    margin-left: 40px;
}

/* auth-nav */
.auth-nav a {
    display: block;
    color: var(--main-color-text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
}
.auth-nav {
    display: flex;
    margin-left: 332px;
}
.auth-nav .item + .item {
    margin-left: 40px;
}

/* section */
.title {
    color: transparent;
}
.section-text { 
    display: flex;
    flex-wrap: wrap;
}
.section-text .item {
   width: 264px;
   margin-right: 24px;
   margin-bottom: 120px;
   margin-top: 120px;
}

.section-text .item:nth-child(4n) {
    margin-right: 0;
}

.section-title {
    color: var(--brand-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.subtitle {
    margin-bottom: 72px;

    color: var(--brand-color);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
}
.section-subtitle {
    display: flex;
}
.section-subtitle .list {
    padding-top: 32px;
    text-align: center;
}
.section-subtitle .item {
    margin-bottom: 120px;
}
.section-subtitle .item + .item {
    margin-left: 24px;
}
.text {
    margin: 0;
    color: var(--main-color-text);
    font-size: 16px;
    line-height: 1.5;
}
.inner {
    background-color: var(--secondary-background-color);
}
.inner .subtitle {
    padding-top: 120px;
}


.desc {
    text-align: center;
    margin: 0;
    color: var(--main-color-text);
    font-size: 16px;
    line-height: 1.5;
}
/* footer */
.logo-title {
    
    background-color: var(--brand-color);
}

.logo-title a {
      
    color: var(--secondary-background-color);
    line-height: 1.16;
    text-decoration: none;
}
.logo-title p{
       
    margin: 0;
    color: var(--secondary-color-text);
    font-size: 16px;
    line-height: 1.5;
}




/* portfolio.html */
/* --brand-color: #2E2F42;
    --main-color-text: #434455;
    --accent-color: #4D5AE5;
    --white-color: #FFFFFF;
    --secondary-background-color: #F4F4FD;
    --secondary-color-text: #E7E9FC;
    --color-hover: #404BBF; */
.btn-group {
    padding: 12px 24px;
    margin-bottom: 72px;

    background-color: var(--secondary-background-color);
    color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--secondary-color-text);
}
.btn-group:hover, .btn-group:focus {
    background-color: var(--color-hover);
    color: var(--white-color);  
}
.group-button .btn + .btn {
    margin-left: 24px;
}
.group-button {
    
    display: flex;
    margin-top: 120px;
    justify-content: center;

}
.picture {
    display: flex;
    flex-wrap: wrap;
    
}
.picture .item {
   margin-right: 24px;
   margin-bottom: 48px;
}
.item:nth-child(3n) {
    margin-right: 0;
}
.item:nth-last-child(-n+3){
    margin-bottom: 0 ;
}

.picture-title {
    margin-top: 32px;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
p {
    margin: 0;
}
.picture p {
    margin-top: 8px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

